
.correo{
    border-radius: 5px;
    outline: none;
    border: 1px solid #0dcaf0;
    height: .7cm;
}

.contra{
    border-radius: 5px;
    outline: none;
    border: 1px solid #0dcaf0;
    height: .7cm;
}